.DashBoard {
  width: 85%;
  float: right;
}

.DashBoard-menu {
  display: flex;
  justify-content: space-between;
}

.DashBoard-right {
  padding: 2em 0 0 2em;
  width: 35%;
  border: 2px solid #222;
  border-top: none;
  min-height: 100vh;
}

.DashBoard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #222;
  border-left: none;
  border-top: none;
  padding: 1em 2em;
}

.DashBoard-header-icons {
  display: flex;
}

.DashBoard-header-icons div {
  padding: 0 1em;
  filter: brightness(0.8);
  font-size: 24px;
}

.DashBoard-header-icons div:hover {
  cursor: pointer;
  filter: brightness(1);
}

.DashBoard-search {
  color: var(--white);
  font-size: 16px;
  border-radius: 5px;
  padding: 1em 1em;
  width: 300px;
  outline: none;
  border: none;
  background-color: #222;
}

.DashBoard-main {
  display: flex;
  justify-content: left;
  gap: 10px;
  flex-flow: row wrap;
  padding: 2em;
}

.DashBoard-main-header {
  display: grid;
  grid-template-columns: 30% 30% 30% auto;
  width: 100%;
  padding: 1em 0.5em;
  filter: brightness(0.8);
}

.DashBoard-main-header div {
  display: flex;
  align-items: center;
  gap: 5px;
}
