.DashBoard-menu {
  display: grid;
  grid-template-columns: 0.6fr 3.7fr 1fr 1fr 1fr 0.3fr;
  gap: 2em;
  padding: 1em 1.5em;
  font-weight: 600;
  color: #495057;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  align-items: center;
}

.DashBoard-containers {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5em;
  padding-top: 2em;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
