.DashBoard-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  padding: 2% 10%;
}

.DashBoard-header-button {
  font-size: 18px;
  padding: 0.5em 2em;
  background-color: var(--important);
  color: #000;
  border-radius: 10px;
  transition: 0.2s;
}

.DashBoard-header-button:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.DashBoard-instances {
  background-color: var(--third);
  width: 80%;
  margin: 2em auto;
  border-radius: 10px;
  padding: 1em;
}

.DashBoard-menu {
  font-size: 18px;
  width: 100%;
  display: grid;
  grid-template-columns: 15% repeat(9, 10%);
  filter: brightness(0.7);
  padding-top: 2em;
}
