.add-network-container {
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--secondary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-network-container h2 {
  padding-bottom: 1em;
}

.add-network-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-network-input {
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: transparent;
  color: var(--text-color)
}

.add-network-button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: var(--important);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-network-button:hover {
  filter: brightness(0.8)
}

.add-network-button:active {
  transform: translateY(1px);
}
