.InfoBox {
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.InfoBox-specs {
  display: flex;
  flex-flow: column;
  gap: 2em;
}

.InfoBox-line {
  display: flex;
  gap: 10px;
}

.InfoBox-title {
  filter: brightness(0.8);
}

.InfoBox-button-container {
  display: flex;
  flex-flow: row;
  gap: 5px;
}

.InfoBox-button {
  padding: 0.5em 1em;
  font-size: 20px;
  background-color: var(--blue);
}

.InfoBox-button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
