.Desc-bar {
  height: 100%;
}

.Desc-bar-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 20px;
}


.Desc-bar-link {
  padding: 0.5em 3em;
}

.Desc-bar-link:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}
