.add-volume-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2% 5%;
  background-color: var(--third);
  display: flex;
  flex-flow: column wrap;
  gap: 0.5em;
  border-radius: 10px;
  align-items: center;
}

.add-volume-input {
  color: var(--text-color);
  font-size: 16px;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 0.5em 1em;
  outline: none;
  width: 100%;
}

.add-volume-submit {
  padding: 0.5em 1em;
  background-color: var(--important);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  transition: 0.3s ease;
  font-size: 18px;
  width: 100%;
}

.add-volume-submit:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
