.VolumeCard-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 1em 1.5em;
  margin: 0;
  transition: all 0.2s ease-in-out;
  align-items: center;
  font-size: 14px;
  background-color: var(--third);
  border-radius: 10px;
}

.VolumeCard-card:hover {
  background-color: var(--secondary);
}
