.NavBar {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}

.NavBar-home {
  font-size: 20px;
  font-weight: bold;
}

.NavBar-home:hover {
  cursor: pointer;
}


.NavBar-links {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.isActive {
  background-color: var(--third);
}

.NavBar-link {
  padding: 0.5em 2em;
  transition: 0.2s;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
  filter: brightness(0.7);
}

.NavBar-link:hover {
  background-color: var(--third);
  cursor: pointer;
}

.NavBar-profile div {
  padding: 0 1em;
  font-size: 24px;
}

.NavBar-profile div:hover {
  cursor: pointer;
  filter: brightness(1);
}
