.SideBar {
  float: left;
  border-right: 2px solid var(--gray);
  padding: 3em 0;
  width: 15%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.SideBar-button {
  align-self: center;
  width: 100%;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 10px;
}

.SideBar-button:hover {
  cursor: pointer;
}

.SideBar-navBar p {
  width: 90%;
  padding: 0.5em 0.5em;
  text-align: left;
  border-radius: 0 20px 20px 0;
  transition: 0.2s;
  margin: 1em 0;
  font-size: 18px;
}

.SideBar-navBar p:hover {
  background-color: var(--dark-gray);
  cursor: pointer;
}

.isActive {
  background-color: var(--dark-gray);
}

.SideBar-link {
  text-decoration: none;
  color: var(--white);
}
