:root {
  --secondary: #101929;
  --primary: #020817;
  --third: #1e293b;
  --important: #3b82f6;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--text-color);
}

p {
  filter: brightness(0.8);
}
