:root {
  --gray: #8E8E93;
  --white: #EBEBF5;
  --black: #000;
  --blue: #007AFF;
  --dark-gray: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
}
