.InstanceCard-card {
  font-size: 18px;
  width: 100%;
  display: grid;
  grid-template-columns: 15% repeat(9, 10%);
  padding: 1em 0;
  transition: 0.2s;
  border-radius: 10px;
}

.InstanceCard-card:hover {
  background-color: var(--secondary);
}

.InstanceCard-link {
  color: var(--important)
}

.InstanceCard-link:hover {
  cursor: pointer;
}

.paused {
  background-color: yellow;
}

.shut-off {
  background-color: red;
}

.running {
  background-color: green;
}

.white {
  background-color: white;
}
