.InstanceCard-card {
  padding: 0.5em 0.5em;
  width: 100%;
  transition: 0.2s;
  border-radius: 5px;
}

.InstanceCard-card:hover {
  background-color: var(--blue);
  cursor: pointer;
}

.InstanceCard-name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.InstanceCard-circle {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  display: inline-block;
}

.paused {
  background-color: yellow;
}

.shut-off {
  background-color: red;
}

.running {
  background-color: green;
}

.white {
  background-color: white;
}
